.advantage {
    min-height: 473px;
    padding: 70px 0 67px 0;
    background-color: #F6F6F6;
    &__block {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        padding: 0px 12px;
        width: 300px;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    &__descr {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        a {
            text-decoration: underline;
            text-transform: uppercase;
            color: $main-color;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__subtitle {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-bottom: 20px;
    }
}